$white: #ffffff;
$white2: #f7f7f7;
$white3: #f4f4f4;
$white3: #ffffff;

$red: #ff0000;
$pinkish-grey: #d7bfbf;
$black: #333333;
$sage: #83aa75;
$fern-green: #49743f;
$puke: #aba000;
$emerald: #00a651;
$blood-orange: #ff4200;
$brownish-grey: #666666;
$warm-grey: #939393;
$orange-red: #ff5722;